@import "./modern-normalize.css";

@font-face {
    font-family: 'fontdiner-swanky';
    src: url('.././fonts/fontdiner-swanky/FontdinerSwanky-Regular.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'henny-penny';
    src: url('.././fonts/henny-penny/HennyPenny-Regular.woff2')  format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'journal';
    src: url('.././fonts/journal/normal/journal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'momstypewriter';
    src: url('.././fonts/moms-typewriter/normal/momot___-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'mystery-quest';
    src: url('.././fonts/mystery-quest/MysteryQuest-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('.././fonts/roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 1. Use a more-intuitive box-sizing model */
/* *, *::before, *::after {
  box-sizing: border-box;
} */

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add system font stack*/
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* 5. Add accessible line-height */
  line-height: 1.4;
  /* 6. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 8. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 9. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 10. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  11. Create a root stacking context(for app container);
*/
#root, #__next {
  isolation: isolate;
}


/*----------PROJECT STYLES----------------------*/

:root {
    /* colours  */
    --leafy-green: hsl(113, 51%, 18%);
    --leafy-green-shadow: hsla(112, 51%, 10%, 0.25);
    --background-green-shadow: hsl(91, 62%, 20%);
    --background-green: hsl(96, 52%, 44%);
    --light-green: hsl(82, 52%, 78%);
    /* --button-purple: hsl(259, 7%, 26%); */
    --background-purple: hsla(247, 6%, 70%, 0.53);
    /* --background-purple: hsl(247, 6%, 70%); */
    --purple-highlight: hsl(267, 56%, 29%);
    --deep-purple: hsl(258, 50%, 26%);
    --shade-purple: hsl(247, 70%, 46%);
    --deep-fig: #2E112D;
    --strong-yellow: hsl(55, 92%, 51%);
    --warm-cream: hsl(40, 30%, 98%);
    --amber-alert: hsl(28, 65%, 55%);
    --laurel-green: hsl(91, 66%, 25%);

            
    --deep-moss: #0B2216;
    --sage-olive: #9DB884;
    --vibrant-orchid: #9B5DE5;
    --rich-plum: hsl(305, 45%, 25%);

    /* Font Sizes */
    --small: clamp(0.75rem, 0.5rem + 1.25vw, 2rem);
    --medium: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
    --large: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
    /* --large: clamp(1.25rem, 0.9rem + 1.75vw, 3rem); */
}


html,body {
    /* height: 100%; */
    width: 100%;
    min-width: 100%;
    min-width: 320px;
    overflow-x: auto;
}

body {
    opacity: 1 !important;
    /* min-height: 100%; */
    min-height: 100vh;
    width: 100%;
    background-color: var(--deep-fig);
}

.fade-in {
  opacity: 0;
  transform: translateY(0.625rem);
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.shadow {
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.05),
              0 0.375rem 1.25rem rgba(0,0,0,0.08);
}

p + p {
  /* margin-top: 0.5rem; */
}

p,ul {
  color: var(--deep-purple);
  font-family: 'journal';
  /* font-family: "fontdiner-swanky"; */
  /* font-family: "mystery-quest"; */
  font-size: var(--large);
}

h1, h2, h3, h4, h5, h6 {
  /* margin-bottom: 1rem; */
  /* font-family: "fontdiner-swanky"; */
  font-family: "mystery-quest";
  /* font-family: "henny-penny"; */
  /* line-height: 1.5rem; */
}



header {
    background-color: var(--light-green);
    background-image: linear-gradient(135deg, var(--background-green), var(--background-purple));
    border: clamp(0.125rem, 0.0625rem + 1vw,0.5rem) solid var(--leafy-green);
    border-radius: 0.5rem;
    padding: clamp(0.25rem,0.1625rem + 1vw ,1rem);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.75rem;
    min-width: 100%;
    /* box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38); */
    box-shadow: 0.375rem 0.75rem 0.75rem hsl(0deg 0% 0% / 0.31);
    
}

footer {
  height: 7vh;
  background-color: var(--deep-fig);
}

nav {
    display: flex;
    width: clamp(9.125rem, 5.9098rem + 16.0759vw, 25rem);
    width: clamp(9.1875rem, 5.985rem + 16.0127vw, 25rem);
    gap: clamp(0.125rem, -0.1535rem + 1.3924vw, 1.5rem);
    gap: clamp(0.25rem, -0.0032rem + 1.2658vw, 1.5rem);
}


h1 {
  font-size: var(--large);
  color: var(--deep-purple);
  text-decoration: underline;
}

h2 {
  font-size: var(--large);
  color: var(--deep-purple);
}


p {
  font-family: 'journal';
  /* font-size: var(--large); */
  /* line-height: 1.15rem; */
  margin-top: clamp(1rem, 0.8rem + 1.25vw,3rem);
}

button {
  border: none;
  background-color: inherit;
  color: var(--deep-purple);
  font-size: var(--small)
  
}

button:hover {
  transform: scale(1.05);
  text-decoration: underline;
  font-weight: bold;
  /* text-shadow: 0.0625rem 0.0625rem var(--warm-cream); */
  text-shadow: 0.125rem 0.125rem var(--warm-cream);
  cursor: pointer;
}

/* nav button {
  background-color: var(--background-purple);
  color: var(--deep-purple);
  border: 0.125rem solid var(--deep-purple);
  border-radius: 0.25rem;
} */


ul {
  margin-top: clamp(1rem, 0.8rem + 1.25vw,3rem);
  list-style: none;
}

ul li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0.5em;
  line-height: 1;
  
}

ul li::before {
  content: "•";
  position: absolute;
  top: -0.11em;
  left: 0;
  line-height: 1;
  font-size: 1.6em;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../more-greenery-cafe-lossless.webp) 0% 0% / 100% 100% no-repeat scroll;
  /* min-height: 100%; */
  min-width: 100%;
  /* margin: auto; */
  box-shadow: 0.5rem 1rem 1rem hsl(0deg 0% 0% / 0.25);
}

.inner-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light-green);
  border: 0.25rem solid var(--leafy-green);
  border-radius: 0.5rem;
  margin: 2.5% 0;
  box-shadow: 0.5rem 1rem 1rem hsl(0deg 0% 0% / 0.25);
  /* width: clamp(20rem, 70%, 80rem); */
}

/*homepage*/

#welcome-msg {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
    /* text-align: center; */
    /* background: linear-gradient(135deg, var(--background-green), var(--background-purple)); */
    /* background: linear-gradient(135deg, var(--light-green), var(--warm-cream)); */
    /* background: var(--background-green); */
    /* background: var(--light-green); */
    /* background: var(--laurel-green); */
    /* border: 0.25rem solid var(--leafy-green);
    border-radius: 0.5rem; */
    /* margin:  2.5% clamp(2rem, 10%, 20rem); */
    /* margin: 2.5% 0; */
    padding: clamp(1rem, 0.7rem + 1.5vw, 2.5rem) clamp(2rem, 1.4rem + 3vw, 5rem);
    /* padding: clamp(0.75rem, 0.4rem + 1.75vw, 2.5rem) clamp(1rem, 0.2rem + 4vw, 5rem); */
    /* min-height: 100%; */
    /* box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    width: clamp(20rem, 70%, 80rem); */
    /* overflow: scroll; */
}

#content h2 {
  text-align: center;
}

#content p {
  font-size: var(--large);
}


