@import "./modern-normalize.css";


@font-face {
    font-family: 'journal';
    src: url('.././fonts/journal/normal/journal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'mystery-quest';
    src: url('.././fonts/mystery-quest/MysteryQuest-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('.././fonts/roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 1. Use a more-intuitive box-sizing model */
/* *, *::before, *::after {
  box-sizing: border-box;
} */

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add system font stack*/
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* 5. Add accessible line-height */
  line-height: 1.4;
  /* 6. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 8. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 9. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 10. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  11. Create a root stacking context(for app container);
*/
#root, #__next {
  isolation: isolate;
}


/*----------PROJECT STYLES----------------------*/

:root {
    /* colours  */
    --leafy-green: hsl(113, 51%, 18%);
    --leafy-green-shadow: hsla(112, 51%, 10%, 0.25);
    --background-green-shadow: hsl(91, 62%, 20%);
    --background-green: hsl(96, 52%, 44%);
    --light-green: hsl(82, 52%, 78%);
    /* --button-purple: hsl(259, 7%, 26%); */
    /* --background-purple: hsla(247, 6%, 70%, 0.53); */
    --background-purple: hsl(247, 6%, 70%);
    /* --purple-highlight: hsl(267, 56%, 29%); */
    --deep-purple: hsl(258, 50%, 26%);
    /* --shade-purple: hsl(247, 70%, 46%); */
    --deep-fig: #2E112D;
    /* --strong-yellow: hsl(55, 92%, 51%); */
    --warm-cream: hsl(40, 30%, 98%);
    /* --amber-alert: hsl(28, 65%, 55%); */


    /* Font Sizes */
    --xx-small: clamp(0.5rem, 0.35rem + 0.75vw, 1.25rem);
    --x-small: clamp(0.6125rem, 0.435rem + 0.8875vw, 1.5rem);
    --small: clamp(0.75rem, 0.5rem + 1.25vw, 2rem);
    --medium: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
    --large: clamp(1.25rem, 0.9rem + 1.75vw, 3rem);
    --x-large: clamp(1.5rem, 1.1rem + 2vw, 3.5rem);
    --x-large: clamp(1.5rem, 0.8rem + 3.5vw, 5rem);
}


html,body {
    width: 100%;
    min-width: 100%;
    min-width: 320px;
    overflow-x: auto;
}

body {
    /* opacity: 1 !important; */
    min-height: 100vh;
    width: 100%;
    background-color: var(--deep-fig);
}


header {
    background-color: var(--light-green);
    background-image: linear-gradient(135deg, var(--background-green), var(--background-purple));
    border: clamp(0.125rem, 0.0625rem + 1vw,0.5rem) solid var(--leafy-green);
    border-radius: 0.5rem;
    padding: clamp(0.25rem,0.1625rem + 1vw ,1rem);
    padding: clamp(1.5rem, 1.3rem + 1vw, 2.5rem) clamp(0.25rem,0.1625rem + 1vw ,1rem);
    /* padding: clamp(1rem, 0.8rem + 1vw, 2rem) clamp(0.25rem,0.1625rem + 1vw ,1rem); */
    /* padding: clamp(0.75rem, 0.5rem + 1.25vw, 2rem) clamp(0.25rem,0.1625rem + 1vw ,1rem); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.75rem;
    min-width: 100%;
    /* height: 20%; */
    /* box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38); */
    box-shadow: 0.375rem 0.75rem 0.75rem hsl(0deg 0% 0% / 0.31);
    
}

footer {
  background-color: var(--deep-fig);
  /* height: clamp(3rem, 2.4rem + 3vw, 6rem);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: clamp(0.5rem, 0.3rem + 1vw, 1.5rem); */
}

nav {
    display: flex;
    width: clamp(9.1875rem, 5.985rem + 16.0127vw, 25rem);
    gap: clamp(0.25rem, -0.0032rem + 1.2658vw, 1.5rem);
}


h1 {
  font-size: var(--x-large);
}

h2 {
  font-size: var(--large);
}

h3 {
  font-size: var(--medium);
}

h4 {
  font-size: var(--small);
}

h5 {
  font-size: var(--x-small);
}

p {
  font-size: var(--small);
}


ul {
  font-family: 'journal';
  font-size: var(--large);
  margin-top: clamp(1rem, 0.8rem + 1.25vw,3rem);
  list-style: none;
  
}

* {
  text-align: center;
}

li {
  position: relative;
  padding-left: 1em;
  margin-bottom: 0.5em;
  line-height: 1;
  text-align: start;
}

li::before {
  content: "•";
  position: absolute;
  top: -0.17em;
  left: 0;
  line-height: 1;
  font-size: 1.6em;
}

button {
  border: none;
  background-color: inherit;
  color: var(--deep-purple);
  font-size: var(--small);
  /* font-family: "Roboto"; */
}

button:hover {
  transform: scale(1.05);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: translateY(-10%);
}

section:not(:last-child) {
  margin-bottom: clamp(1rem, 0.6rem + 2vw, 3rem);
}


.fade-in {
  opacity: 0;
  transform: translateY(0.625rem);
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.shadow {
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.05),
              0 0.375rem 1.25rem rgba(0,0,0,0.08);
}

/*------------Groups--------------------*/

p,ul {
  color: var(--deep-purple);
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "mystery-quest";
  color: var(--deep-purple);
}

.menu-section,
#contact-inner-container {
  width: 100%;
  border: 0.25rem solid var(--leafy-green);
  border-radius: 0.5rem;
  padding: clamp(1rem, 0.5rem + 2.5vw, 3.5rem);
  background-color: var(--warm-cream);
}
.section-header-margin,
.section-description {
  margin-bottom: clamp(1rem, 0.8rem + 1vw, 2rem);
}

#main-header,
h3 {
  text-decoration: underline;
  text-underline-offset: clamp(0.25rem, 0.15rem + 0.5vw, 0.75rem);
}

#welcome-msg p,
.menu-item-container *:not(p:first-of-type),
.day-hours {
  text-align: start;
}

.menu-item-container > p:first-of-type,
#copywrite-info,
.day-label {
  text-align: end;
}

#contact-inner-container,
.menu-section {
  box-shadow: clamp(0.125rem, 0.1rem + 0.125vw, 0.25rem) 
              clamp(0.25rem, 0.1rem + 0.75vw, 1rem) 
              clamp(0.25rem, 0.1rem + 0.75vw, 1rem) 
              hsl(0deg 0% 0% / 0.38);
}



/*--------------header-------------------*/

#main-header {
  font-size: var(--x-large);
  font-family: "mystery-quest";
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem var(--warm-cream);
}


#content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../more-greenery-cafe-lossless.webp) center / cover no-repeat fixed;
  min-height: 80vh;
  height: 100%;
  min-width: 100%;
  width: 100%;
  
}

.inner-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.25rem solid var(--leafy-green);
  background: var(--light-green);
  margin: 3%;
  /* margin: 2.5% clamp(2rem, 1.7rem + 1.5vw, 20rem); */
  padding: clamp(2rem, 1.4rem + 3vw, 5rem);
  box-shadow: 0.5rem 1rem 1rem hsl(0deg 0% 0% / 0.25);
  width: clamp(20rem, 70%, 80rem);
  width: clamp(18rem, 5.6rem + 62vw, 80rem);
  /* width: clamp(20rem, 8rem + 60vw, 80rem); */
  min-height: 70vh;
}

.section-description {
  font-size: var(--xx-small);
}



/*------------Footer-----------------------*/

#copywrite-info {
  color: var(--warm-cream);
  margin: clamp(1.5rem, 1.1rem + 2vw, 3.5rem) clamp(0.625rem, 0.4rem + 1.125vw, 1.75rem);
  margin: clamp(1.25rem, 0.9rem + 1.75vw, 3rem) clamp(0.625rem, 0.4rem + 1.125vw, 1.75rem);
  /* margin: clamp(0.625rem, 0.4rem + 1.125vw, 1.75rem); */
  font-size: var(--xx-small);
}

#copywrite-info a {
  color: var(--warm-cream);
  text-decoration: none;
}

#copywrite-info a:hover {
  font-weight: bold;
}

#copywrite-info a:active {
  transform: translateY(-10%);
}


/*----------------homepage----------------------*/

#welcome-msg {
  background: var(--light-green);
  border: 0.25rem solid var(--leafy-green);
  border-radius: 0.5rem;
}

#welcome-msg p {
  font-family: 'journal';
  margin-top: clamp(1rem, 0.8rem + 1.25vw,3rem);
  font-size: var(--large);
}


/*----------------Menu page-----------------------------*/

#menu-container {
  padding-top: 0;
}

#menu-container > h2 {
  margin: clamp(1rem, 0.7rem + 1.5vw, 2.5rem) 0;
}


#menu-container section:nth-of-type(3) h3 {
  margin-bottom: clamp(0.25rem, 0.1rem + 0.75vw, 1rem);
}



.menu-divider {
  border: 0.0625rem solid var(--leafy-green);
  margin: clamp(0.5rem, 0.3rem + 1vw, 1rem);
  margin-top: clamp(1rem, 0.8rem + 1vw, 2rem);
}

.menu-item-container{
  display: grid;
  grid-template-columns: 1fr clamp(1.5rem, 0.8rem + 3.5vw, 5rem);
  margin-top: clamp(0.5rem, 0.3rem + 1vw, 1rem);
  max-width: 100%;
}

section:last-of-type .menu-item-container{
  grid-template-columns: 1fr clamp(3rem, 2.3rem + 3.5vw, 6.5rem);
}
.menu-item-container > p:first-of-type {
  font-weight: bold;
}

.menu-item-container > p {
  font-size: var(--x-small);
}


.sub-section-container > p {
  font-size: var(--xx-small);
  padding: 0 clamp(0.25rem, -0.5rem + 3.75vw, 4rem);
}



/*------------contact page----------------------------------*/

#contact-container {
  min-height: 100%;
}

#contact-inner-container {
  padding: clamp(1.5rem, 1rem + 2.5vw, 4rem) clamp(0.75rem, 0.3rem + 2.25vw, 3rem);
}

.divider {
  border: 0.0625rem solid var(--leafy-green);
  margin: clamp(1rem, 0.3rem + 3.5vw, 4.5rem);
  /* margin-bottom: clamp(0.5rem, 0rem + 2.5vw, 3rem); */
}


#contact-container p {
  font-size: var(--x-small);
}

#contact-info-header {
  margin-bottom: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
}

#contact-inner-container h5 {
  margin-top: clamp(0.25rem, 0.4rem + 1.75vw, 1.5rem);
}


#contact-container section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#opening-times-header {
  margin-bottom: clamp(0.25rem, 0.1rem + 0.75vw, 1rem);
}

#times-container {
  padding: clamp(0.25rem, 0.125rem + 1vw, 1rem);
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
}

.day-hours {
  margin-left: 0.25rem;
}


